.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.base.json
**/*.map
**/*.ts
node_modules/!(jsonc-parser*|@types/**)
test.txt
example_test.py 